.makepost {
  &__container {
    height: 70vh;
    background-color: #292929;
    padding: 0.75rem 1.25rem 0 1.25rem;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
  }
  &__navigation {
    display: flex;
    justify-content: flex-end;
    font-size: 1.25rem;
  }

  &__save {
    color: green;
    cursor: pointer;
  }
  &__desc {
    background-color: #535353;
    color: white;
    border: none;
    font-family: "Noto Sans", sans-serif;
    padding: 0.25rem 0.5rem 4rem 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &__title {
    height: 50px;
    background-color: #535353;
    color: white;
    border: none;
    font-family: "Noto Sans", sans-serif;
    padding: 0.25rem 0.5rem 4rem 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &__tags {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > button {
      color: white;
      border: none;
      padding: 0.4rem;
      font-family: "Noto Sans", sans-serif;
      border-radius: 14px;
      cursor: pointer;
    }

    &--NSFW {
      background-color: rgb(209, 66, 47);
    }
    &--Mood {
      background-color: rgb(1, 111, 201);
    }
    &--Quotes {
      background-color: rgb(183, 47, 224);
    }
    &--Shitpost {
      background-color: rgb(197, 186, 23);
    }
    &--None {
      background-color: grey;
    }
    &--selected {
      background-color: teal;
      box-shadow: 0px 0px 10px 7px rgb(0, 204, 160);
    }
  }
}

.posts {
  background-color: rgb(49, 49, 49);
  margin-bottom: 1rem;
  padding: 1rem 1rem 1rem 2rem;
  font-family: "Noto Sans", sans-serif;
  &__container {
    display: flex;
    flex-direction: column;
    font-size: 0.85rem;
    font-family: "Noto Sans", sans-serif;
  }
  &__title {
    font-size: 1.15rem;
    font-weight: 700;
  }

  &__tags {
    color: white;
    border: none;
    margin: 0.75rem 0 0.75rem 0;
    font-size: 0.75rem;
    font-family: "Noto Sans", sans-serif;
    border-radius: 14px;
    width: 50px;
    text-align: center;
    cursor: pointer;

    &--NSFW {
      background-color: rgb(209, 66, 47);
    }
    &--Mood {
      background-color: rgb(1, 111, 201);
    }
    &--Quotes {
      background-color: rgb(183, 47, 224);
    }
    &--Shitpost {
      background-color: rgb(197, 186, 23);
    }
    &--None {
      background-color: grey;
    }
  }
}
