$info_background: #535353;
$font_family: "Noto Sans", sans-serif;
$Shitpost: rgb(197, 186, 23);
$Quotes:rgb(183, 47, 224);
$Mood: rgb(1, 111, 201);
$NSFW: rgb(209, 66, 47);

@mixin info_align {
  padding: 0.25rem 0.5rem 4rem 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.makepost {
  &__container {
    height: 70vh;
    background-color: #292929;
    padding: 0.75rem 1.25rem 0 1.25rem;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
  }
  &__navigation {
    display: flex;
    justify-content: flex-end;
    font-size: 1.25rem;
  }

  &__save {
    color: green;
    cursor: pointer;
  }
  &__desc {
    background-color: $info_background;
    color: white;
    border: none;
    font-family: $font_family;
    @include info_align;
  }
  &__title {
    height: 50px;
    background-color: $info_background;
    color: white;
    border: none;
    font-family: $font_family;
    @include info_align;
  }
  &__tags {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > button {
      color: white;
      border: none;
      padding: 0.4rem;
      font-family: $font_family;
      border-radius: 14px;
      cursor: pointer;
    }

    &--NSFW {
      background-color:$NSFW;
    }
    &--Mood {
      background-color: $Mood;
    }
    &--Quotes {
      background-color: $Quotes;
    }
    &--Shitpost {
      background-color: $Shitpost;
    }
    &--None {
      background-color: grey;
    }
    &--selected {
      background-color: teal;
      box-shadow: 0px 0px 10px 7px rgb(0, 204, 160);
    }
  }
}

.posts {
  background-color: rgb(49, 49, 49);
  margin-bottom: 1rem;
  padding: 1rem 1rem 1rem 2rem;
  font-family: $font_family;
  &__container {
    display: flex;
    flex-direction: column;
    font-size: 0.85rem;
    font-family: $font_family;
  }
  &__title {
    font-size: 1.15rem;
    font-weight: 700;
  }

  &__tags {
    color: white;
    border: none;
    margin: 0.75rem 0 0.75rem 0;
    font-size: 0.75rem;
    font-family: $font_family;
    border-radius: 14px;
    width: 50px;
    text-align: center;
    cursor: pointer;

    &--NSFW {
      background-color: $NSFW;
    }
    &--NSFW {
      background-color: $Mood;
    }
    &--Quotes {
      background-color: $Quotes;
    }
    &--Shitpost {
      background-color: $Shitpost;
    }
    &--None {
      background-color: grey;
    }
  }
}
